/*Fonts:
Colours:*/

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Dosis:400,600');


main {
  font-family: 'Cutive Mono', monospace;
}

h1 {
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  font-size: 2.2em;
}

input {
  display: block;
  line-height: 3.5em;
  width: 80%;
  margin: 0 auto;
  padding: .6em;
  margin-bottom: 2em;
  font-size: 1.2em
}

ul {
  list-style: none;
}

li {

}

.idea-input {

}

.btn {

}

.idea {

}

#votes {

}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
