/*Fonts:
Colours:*/

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Dosis:400,600');


main {
  font-family: 'Cutive Mono', monospace;
}

h1 {
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  font-size: 2.2em;
  text-align: center;
  margin-bottom: 1.2em;
}

input {
  display: block;
  line-height: 3.5em;
  width: 80%;
  margin: 0 auto;
  padding: .6em;
  margin-bottom: 1.2em;
  font-family: 'Cutive Mono', monospace;
  font-size: 1.2em;
  border-radius: .2em;
}

button {
  float: right;
  height: 2.5em;
  width: 25%;
  font-size: .8em;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  background-color: inherit;
  border: solid .5px black;
  border-radius: 1em;
  margin-bottom: 2em;
  margin-right: 1.9em;

}

ul {
  display: block;
  list-style: none;
  font-size: 1.2em;
  width: 100%;
  padding-left: 0;
  margin-top: .5em;
  margin-bottom: .5em;

}

li {
  width: 80%;
  margin: 0 auto;
  border: solid .5px black;
  border-radius: .2em;
  padding: .4em;
}

.idea-input {
  overflow: hidden;
}

#idea {
  padding-left: .6em;
  text-align: right;
}

#votes {
  font-size: 1.5em;
  color: red;
  font-weight: bold;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
